

.image {
    width: 80px;
    height: 80px;
    display:flex; 
    float: left;
    padding-bottom: 6%;
    padding-right: 1%;
    padding-left: 1%;
}

.ajustes {
    margin-top: 100px;
    margin-left: 50px;
    font-size: 17px;
    height: 1200px;
    color: honeydew;
}

.botao {
    font-size: 20px;
    width: 30%;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 20%;
    display:flex; 
    float: left;
    text-align: justify;
    color: beige;
    background-color: #294283;
}

.texto {
    width: 40%;
    height:auto;
    margin-left: 30px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    float: left;
    text-align: justify;
    color: #170c61;
    position: relative;;
    display: flex;
}

.w3-border-bottom {
    border-bottom: 2px solid rgb(221, 208, 27)!important;
    margin-bottom: 10px;
}

.cadastro {
    width: 50%;
    height:auto;
    margin-left: 30px;
    margin-right: 20px;
    margin-bottom: 20px;
    float: left;
    text-align: justify;
    position: relative;
    border-radius: 10px;
    display: flex;
}

.divisor {

    margin-top: 40px;
}

.adicionar {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

h1 {
    margin-bottom: 40px;
    margin-top: 40px;
    color:#170c61;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3{
    margin-bottom: 40px;
    margin-top: 40px;
    color:#170c61;
    font-weight: bold;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.botao:hover {
    color:  rgb(231, 238, 136);
}

body{
    background-image: url("/img/fundomat.jpg");
}