h1 {
    font-size: 40px;
    margin-bottom: 100px;  
    text-shadow: black;
    font-family: Arial, Helvetica, sans-serif;
    color:  #170c61;
  }
  
  body{
    background: -webkit-linear-gradient(left,  #170c61, #2f52c4e7);
  }
  
  a {
      font-size: 20px;
      color: #170c61;
      margin: 10px;
  }

  img{
    width: 150px;
    height: 150px;
    text-align: center;  
    margin-top: 50px;
  }