.espaco
{
    width: 50%;
    height: 500px!important;
    position: relative;
    padding-right: 40px !important;
    padding-bottom: 0px !important;
    padding-left: 40px !important;
    float: left;
    text-align: justify;
}

body{
    background-image: url("/img/fundomat.jpg");
    background-repeat: no-repeat;
}

.ajustes {
   
    margin-left: 10%;
    margin-top: 10%;
    margin-right: 15%;
    width: 75%;
    height: 1200px;
    float: right;
    margin-bottom: 10%;
}


.espaco2
{
    
    width: 50%;
    height: 500px!important;
    position: relative;
    padding-right: 40px !important;
    padding-bottom: 0px !important;
    padding-left: 40px !important;
    float: left;
    margin-bottom: 70px;
    text-align: justify;
    background:  -webkit-linear-gradient(left, #170c61, #2f52c4e7);
    color: aliceblue;
}

.barra{
    padding: 5 15%;
    font-size: 16px;
    position: relative;
    width: 100%;
    height: 400px;
    margin-top: 10%;
    text-align: left;
    float: right;
    
    
}

.missao{
    text-align: justify;
    padding-right: 20px;
    width: 33.33333333%;
    float: left;
}

.visao{
    padding-left: 40px;
    padding-right: 20px;
    width: 33.33333333%;
    float: left;
    text-align: justify;
    background: -webkit-linear-gradient(left, #170c61, #2f52c4e7);
    color: aliceblue;
}

.valor{
    padding-left: 40px;
    padding-right: 20px;
    width: 33.33333333%;
    float: left;
    text-align: justify;
}

.style-k1ko0fxbline {
    border-top: 3px solid rgba(240, 146, 38, 1);
    border-bottom: 1px solid rgba(240, 146, 38, 1);
    padding: 5px 0 0 0;
    margin-top: 20px;
    margin-bottom: 100px;
    width: 100%;
}
