.formulario{
    display: grid;
    margin-top: 100px; 
    width: 80%;
    float: right;
    padding-right: 60px;
    margin-right: 30px;
    font-size: 20px;
}

h2 {
    color:white;
    background: -webkit-linear-gradient(left, #0e3519, #89d48fe7);;
}

.titulo{
    
    text-align: center;
}

.image{
    width: 350px;
    height: 250px;
}

.divisor{
    margin-bottom: 20px;
    margin-top: 20px;
}

.botao {
    font-size: 20px;
    width: 160px;
    margin-right: 10px;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 20px;
    text-align: center;
}

.adicionar {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}